---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Signa la petició - Local polivalent a Begur"
  description="Signa la nostra petició per demanar a l'Ajuntament de Begur que construeixi un local polivalent per al nostre poble."
>
  <div class="max-w-xl mx-auto mt-16 md:mt-24 px-4 sm:px-0 mb-24">
    <h1 class="font-bold text-3xl sm:text-4xl mb-8">Signa la Petició</h1>

    <p>Aquesta pàgina està en construcció.</p>
  </div>
</Layout>
